@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;600&family=Josefin+Sans:wght@400;500;700&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chivo Mono', sans-serif;
}

$basic-white-color: white;
$hover-menu-color: #E69928;
$hover-button-color: #E79A2B;
$basic-green-color: #4CAF50;

#toast-container > div {
  opacity: 1;
}

$setup-shadow: 0 0 10px #ccc;

@mixin setFontStyles($font-family, $font-weight) {
  font-family: $font-family;
  font-weight: $font-weight;
}
