<div class="allBlock">
  <header class="header">
    <div class="logo">
      <img src="../assets/media/logo.png" alt="img">
    </div>
    <nav class="menu">
      <div> Каталог </div>
      <div> Пошук </div>
      <div> Форум </div>
      <div> Інформація </div>
    </nav>
    <div class="buttons">
      <button (click)="goToLogin()" *ngIf="!isAuthenticated"> Увійти </button>
      <button (click)="goToSignup()" *ngIf="!isAuthenticated"> Зареєструватися </button>
      <button (click)="logout()" *ngIf="isAuthenticated"> Вийти </button>
    </div>
  </header>
  <div class="content">
    <router-outlet></router-outlet>
    <p-toast position="bottom-right"></p-toast>
  </div>
</div>
