@import '../../../styles.scss';

.signupPage {
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .header {
    font-weight: 700;
  }

  form {
    margin-top: 25px;
    margin-left: 15px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: $basic-white-color;
    border-radius: 10px;
    box-shadow: $setup-shadow;

    label {
      margin-top: 10px;
      font-size: 18px;
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: none;
      border-radius: 5px;
      box-shadow: 0 0 5px #ccc;
      font-size: 16px;
      font-family: Arial, sans-serif;

      &:focus {
        outline: none;
        box-shadow: 0 0 5px $basic-green-color;
      }
    }

    .validationError {
      margin: 8px 0;
      color: red;
    }

    button {
      margin-top: 15px;
      background-color: $basic-green-color;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 15px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }
  }
}
