<div class="titlesBlock">

    <div class="listOfTitles">
      <main *ngFor="let title of (titles | async)?.data"
            class="differentTitle"
            (click)="goToDetails(title.id)"
      >
          <div class="imageBlock">
          <img src="{{title.imgUrl}}" alt="image">
        </div>
        <div class="rightInfo">
          <header>
            <div> {{ title.name }} -  {{ title.type }} </div>
            <div> {{ title.status }} </div>
          </header>
        </div>
      </main>
    </div>

    <div class="rightForm">
      Знайдіть свій комікс
      <form class="form" [formGroup]="form">
        <div class="selectOptions">
          <p-multiSelect
            [options]="(genres | async)?.data || []"
            [optionValue]="'id'"
            [optionLabel]="'name'"
            (onChange)="getId($event.value)"
            formControlName="genre"
            placeholder="Select genre"
          ></p-multiSelect>
          <p-dropdown
            [options]="sortDirection"
            dataKey="title"
            optionLabel="title"
            optionValue="direction"
            formControlName="direction"
            placeholder="Select an direction">
          </p-dropdown>
          <p-dropdown
            [options]="sortTypes"
            optionLabel="name"
            formControlName="sortType"
            placeholder="Select an option">
          </p-dropdown>
          <p-multiSelect
            [options]="type"
            optionLabel="name"
            formControlName="types"
            placeholder="Select type"
          > {{ type }} </p-multiSelect>
          <p-multiSelect
            [options]="titleStatuses"
            optionLabel="name"
            formControlName="statuses"
            placeholder="Select status"
          > {{ titleStatuses }} </p-multiSelect>
        </div>
        <div class="fromTo">
          <label for="from">
            <h4> Від </h4>
            <input
              id="from"
              type="number"
              formControlName="min">
          </label>
          <label for="to">
            <h4> До </h4>
            <input
              id="to"
              type="number"
              formControlName="max">
          </label>
        </div>
        <button (click)="filterComics()" [disabled]="!hasFormBeenChanged"> Знайти </button>
        <button *ngIf="hasFormBeenChanged" (click)="reset()"> Reset </button>
      </form>
    </div>

</div>
