<div class="signupPage">
  <div class="header">
    Ласкаво просимо, приєднюйтесь до нас)
  </div>
  <form [formGroup]="form">

    <label for="name"> Ім'я </label>
    <input id="name" name="name" type="text" formControlName="name"/>
    <div *ngIf="getName().invalid && (getName().dirty && getName().touched || isFormSubmitted)" class="validationError">
      <div *ngIf="getName().errors?.['required']">
        Поле необхідно заповнити
      </div>
      <div *ngIf="!getName().errors?.['required'] && getName().errors?.['minlength'] && getName().dirty">
        Мінімальна довжина має містити 4 символи
      </div>
    </div>

    <label for="email"> Пошта </label>
    <input id="email" name="name" type="email" formControlName="email"/>
    <div *ngIf="getEmail().invalid && (getEmail().dirty && getEmail().touched || isFormSubmitted)" class="validationError">
      <div *ngIf="getEmail().errors?.['required']">
        Поле необхідно заповнити
      </div>
      <div *ngIf="!getEmail().errors?.['required'] && getEmail().errors?.['email'] && getEmail().dirty">
        Неправильний формат
      </div>
    </div>

    <label for="password"> Пароль </label>
    <input id="password" name="name" type="password" formControlName="password"/>
    <div *ngIf="getPassword().invalid && (getPassword().dirty && getPassword().touched || isFormSubmitted)" class="validationError">
      <div *ngIf="getPassword().errors?.['required']">
        Поле необхідно заповнити
      </div>
      <div *ngIf="!getPassword().errors?.['required'] && getPassword().errors?.['minlength'] && getPassword().dirty">
        Мінімальна довжина має містити 4 символи
      </div>
    </div>

    <label for="password"> Підтвердіть пароль </label>
    <input id="confirm_password" name="name" type="password" formControlName="confirmPassword"/>
    <div *ngIf="getConfirmPasswordField().invalid && (getConfirmPasswordField().dirty && getConfirmPasswordField().touched || isFormSubmitted)" class="validationError">
      <div *ngIf="getConfirmPasswordField().errors?.['required']">
        Поле необхідно заповнити
      </div>
      <div *ngIf="!getConfirmPasswordField().errors?.['required'] && getConfirmPasswordField().errors?.['missMatch'] && (getConfirmPasswordField().dirty || getConfirmPasswordField().touched || isFormSubmitted)">
        Паролі не співпадають
      </div>
    </div>


    <button (click)="signup()"> Зареєструватися </button>
  </form>
</div>
